@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Миксин adaptiv-font*/
/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #0e0e2c;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px 0;
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
@media (max-width: 567.98px) {
  .header__title {
    flex: 1 1 100%;
  }
}
.header__files {
  max-width: 100%;
  gap: 5px;
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}

[class*=__container] {
  max-width: 1180px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;
}

.inputs {
  padding: 20px 0;
  border-bottom: 2px solid #000;
}
.inputs__title {
  margin-bottom: 10px;
}
.inputs__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
@media (max-width: 991.98px) {
  .inputs__content {
    flex-wrap: wrap;
  }
  .inputs__content > * {
    flex: 0 1 50%;
  }
  .inputs__content > :first-child {
    margin: 0 auto;
  }
  .inputs__content > :last-child {
    margin: 0 auto;
    order: 2;
  }
  .inputs__content > :nth-child(2) {
    flex: 1 1 100%;
    order: 3;
  }
}
.inputs__operations {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}
.inputs__operations button {
  padding: 3px;
  margin: 5px;
  border: 1px solid #000;
}
.inputs__operations button:hover {
  background-color: rgb(191, 188, 188);
}
@media (max-width: 991.98px) {
  .inputs__operations {
    margin-top: 20px;
  }
}
.inputs__matrix {
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}
.inputs__matrix.from-file {
  background-color: rgba(255, 255, 255, 0.2352941176);
  text-align: left;
}

.row {
  display: flex;
}

.matrix-cell {
  padding: 1px;
  width: 50px;
  height: 20px;
  border: 1px solid #000;
  background-color: rgb(168, 168, 168);
}
@media (max-width: 479.98px) {
  .matrix-cell {
    width: 35px;
    height: 20px;
  }
}

.outputs {
  padding: 20px 0;
}
.outputs__title {
  padding-bottom: 10px;
}
.outputs__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.outputs__content * {
  white-space: pre-wrap;
  width: 100%;
  color: #000;
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
}

input[type=file] {
  visibility: hidden;
  position: relative;
  width: 180px;
  height: 32px;
}

input[type=file]:before {
  content: attr(placeholder);
  visibility: visible;
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 16px;
  padding: 8px 32px 8px 8px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}